= form_with(model: clock_event, local: true, class: 'clock-event-form') do |form|
  - if clock_event.errors.any?
    #error_explanation
      %ul
        - clock_event.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :username, class: 'label'
    = form.text_field :username, required: true
  .field
    = form.label :clock_in_at, class: 'label'
    = form.datetime_field :clock_in_at, required: true
  .field
    = form.label :clock_out_at, class: 'label'
    = form.datetime_field :clock_out_at

    =form.hidden_field :event_type

  .actions
    = form.submit "Update Clock Event", class: 'event-btn'
