= form_with(model: clock_event, local: true, class: 'clock-event-form') do |form|
  - if clock_event.errors.any?
    #error_explanation
      %h2
        = pluralize(clock_event.errors.count, "error")
        prohibited this clock_event from being saved:
      %ul
        - clock_event.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :username, class: 'label'
    = form.text_field :username, required: true
  .field
    = form.label :event_at, class: 'label'
    = form.datetime_field :event_at, required: true
  .field
    = form.label :event_type, class: 'label'
    %label.switch
      = form.check_box :event_type
      %span.slider.round
  .actions
    = form.submit "Update Clock Event", class: 'event-btn'
