%p#notice= notice
%p
  %strong Username:
  = @clock_event.username
%p
  %strong Type:
  = @clock_event.event_type
%p
  %strong Event at:
  = @clock_event.event_at
= link_to 'Edit', edit_clock_event_path(@clock_event)
|
= link_to 'Back', clock_events_path
